form(action='/cart', method='POST')
  input(type='text', name='item')
  input(type='number', name='quantity')
  button Add to Cart!

ul
  each itemCart in cart
    li He añadido " #{itemCart.item} " en un totla de estas unidades "#{itemCart.quantity}""